<nav>
	<ul>
		<li>
			{% if page.id == 'home' %}
			<h1>
				<span>home</span>
			</h1>
			{% else %}
			<a href="{{ site.baseurl }}/">
				<span>home</span>
			</a>
			{% endif %}
		</li>
		<li>
			{% if page.id == 'presentation' %}
			<h1>
				<span>présentation</span>
			</h1>
			{% else %}
			<a href="{{ site.baseurl }}/presentation">
				<span>présentation</span>
			</a>
			{% endif %}
		</li>
		<li>
			{% if page.id == 'realisations' %}
			<h1>
				<span>réalisations</span>
			</h1>
			{% else %}
			<a href="{{ site.baseurl }}/realisations">
				<span>réalisations</span>
			</a>
			{% endif %}
		</li>
		<li>
			{% if page.id == 'documentation' %}
			<h1>
				<span>webtech</span>
			</h1>
			{% else %}
			<a href="{{ site.baseurl }}/webtech">
				<span>webtech</span>
			</a>
			{% endif %}
		</li>
		<li>
			{% if page.id == 'contact' %}
			<h1>
				<span>contact</span>
			</h1>
			{% else %}
			<a href="{{ site.baseurl }}/contact">
				<span>contact</span>
			</a>
			{% endif %}
		</li>
	</ul>
</nav>