<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site.description }}" />
	<meta name="author" content="www.crachecode.net">
	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
	<script type="module" src="{{ site.baseurl }}/js/app.js"></script>
	<link rel="image_src" href="{{ site.url }}/img/logo_big.png" />
	<link rel="image_src" href="{{ site.url }}/img/logo_full.png" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<meta property="og:image" content="{{ site.url }}/img/logo_big.png" />
	<meta property="og:image" content="{{ site.url }}/img/logo_full.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="{{ page.id }}">
	<div id="background"></div>
	<header>
		<img src="{{ site.baseurl }}/img/logo.svg" alt="logo crachecode" id="logo">
	</header>
	<div id="container">
		{% include nav.html %}
		<main>
			{{ content }}
		</main>
	</div>
	{% include matomo.html %}
</body>
</html>