@import "compass/css3";
@import "breakpoint";

//@include font-face('webs',font-files('CWEBS-webfont.ttf','CWEBS-webfont.woff'),'CWEBS-webfont.eot');
@include font-face('delicious',font-files('delicious-bolditalic-webfont.ttf','delicious-bolditalic-webfont.woff'),'delicious-bolditalic-webfont.eot',bold,italic);
@include font-face('Source Sans Pro',font-files('SourceSansPro-Regular-webfont.ttf','SourceSansPro-Regular-webfont.woff'),'SourceSansPro-Regular-webfont.eot',normal);
@include font-face('Source Sans Pro',font-files('SourceSansPro-Semibold-webfont.ttf','SourceSansPro-Semibold-webfont.woff'),'SourceSansPro-Semibold-webfont.eot',bold);
@font-face {
  font-family: crachecode;
  src: url('/fonts/crachecode.woff2') format('woff2');
}


$page-max-width:750px;
$page-min-height:600px;
$first_break:550px;
$second_break:350px;
$font-size:16px;

// grey light
$color_high:#feff00;
$color_high_shadow:#8b8b37;
$color_low:#8c827f;
$color_low_shadow:#2b2726;
$color_low_2:#353130;
$color_low_3:#efefef;
$color_text:#000;
$color_titles:#222;
$color_med:#5f5856;

// cold grey
/*$color_high:#feff00;
$color_high_shadow:#8b8b37;
$color_low:#54545b;
$color_low_shadow:#333;
$color_low_2:#383838;
$color_text:#efefef;*/

// vert noisette
/*$color_high:#feff00;
$color_high_shadow:#8b8b37;
$color_low:#514947;
$color_low_shadow:#353130;
$color_low_2:#766151;
$color_text:#efefef;*/

// orange grey
//$color_high:#dd7426;
//$color_high_shadow:#f3843e;
//$color_low:#6e6e6e;
//$color_low_shadow:#393939;
//$color_low_2:#ff9900;
//$color_text:#222;

// orange clair
//$color_high:#e7512d;
//$color_high_shadow:#72441e;
//$color_low:#f6f6f6;
//$color_low_shadow:#b6aea1;
//$color_low_2:#cbcbc1;
//$color_text:#333;

// bleu ocre
//$color_high:#0193b7;
//$color_high_shadow:#063e53;
//$color_low:#d1c5b7;
//$color_low_shadow:#735d41;
//$color_low_2:#856941;
//$color_text:#333;

// jaune noisette
//$color_high:#fee202;
//$color_high_shadow:#6d4017;
//$color_low:#514947;
//$color_low_shadow:#48372f;
//$color_low_2:#766151;
//$color_text:#e3e3e3;

// orange dark
//$color_high:#dd7426;
//$color_high_shadow:#6d4017;
//$color_low:#243035;
//$color_low_shadow:#111314;
//$color_low_2:#564e47;
//$color_text:#e3e3e3;


$titles_font:delicious, 'Trebuchet MS', Helvetica, Arial, sans-serif;
$menu_font:$titles_font;
$menu_font_size:18px;
$text_font:'Source Sans Pro', Helvetica, Arial, sans-serif;

$titles_text:$color_high;
$main_text:$color_text;
$violent_text:$color_high;

$link_text:$violent_text;
$link_text_active:$color_low_shadow;
$link_background:transparent;
$link_background_active:$color_high;

$selected_text:$color_low_shadow;
$selected_text_background:$color_high;

$bullets:$violent_text;

$menu_text:$color_high;
$menu_background_1:$color_med;
$menu_background_2:$color_med;
$menu_over_text:$color_low_shadow;
$menu_over_background_1:$color_high;
$menu_over_background_2:$color_high;
$menu_active_text:$color_low_shadow;
$menu_active_background:$color_low_3;

$body_background_1:$color_low_2;
$body_background_2:$color_low_shadow;

$page_background:$color_low;
$content_background:transparent;

$shadow:$color_low_shadow;
$special_text:$color_low_shadow;

.small_text {
	font-family:$text_font;
	font-size:16px;
	line-height:26px;
}
.big_text {
	font-family:$titles_font;
	font-weight:bold;
	font-style:italic;
}

* {
	margin:0;
	padding:0;
	border:0;
	&::selection {
		color:$selected_text;
		background:$selected_text_background;
	}
	scroll-behavior: smooth;
}
body {
	padding:25px;
	@include breakpoint(max-width $first_break){
		padding:25px 0;
	}
	background-attachment:fixed;
	background-size:16px 16px;
	background-color:$body_background_1;
	background-image:linear-gradient(135deg, $body_background_2 25%, transparent 25%, transparent 50%, $body_background_2 50%, $body_background_2 75%, transparent 75%, transparent);
}
#container {
	max-width:$page-max-width;
	//min-width:480px;
	//min-height:$page-min-height;
	background-color:$page_background;
	color:$main_text;
	box-shadow:0 0 20px $shadow;
}
p {
	@extend .small_text;
	margin-bottom:20px;
	@include breakpoint(max-width $second_break){
		text-align:left;
	}
}
h1 {
	@extend .big_text;
	font-size:30px;
	color:$titles_text;
	margin-bottom:20px;
}
h2 {
	@extend .big_text;
	font-size:26px;
	color:$titles_text;
	//color:$titles_text;
	margin-bottom:25px;
}
h3 {
	@extend .big_text;
	font-size:26px;
	color:$color_med;
	//color:$titles_text;
	margin-bottom:25px;
	margin-top:-15px;
}
a {
	@extend .small_text;
	text-decoration:underline;
	color:$link_text;
	background-color:$link_background;
	&:hover {
		text-decoration:none;
		background-color:$link_background_active;
		color:$link_text_active;
	}
}
main {
	padding:25px 55px 45px 55px;
	@include breakpoint(max-width $first_break){
		padding:25px 25px 45px 25px;
	}
	ul {
		margin:-10px 0 25px 0;
	}
	li {
		@extend .small_text;
		position:relative;
		/*background-image:url(images/puce.png);*/
		/*background-repeat:no-repeat;
		background-position:0 7px;*/
		list-style-type:none;
		margin-bottom:5px;
		margin-left:12px;
		&:before {
			font-family:Helvetica, Arial, sans-serif;
			font-size:16px;
			position:absolute;
			content:"•";
			color:$bullets;
			left:-12px;
			line-height:26px;
		}
	}
}
#logo {
	margin:0 55px 20px 55px;
	width:274px;
	@include breakpoint(max-width $first_break){
		margin:0 25px 20px 25px;
		width:calc(100% - 50px);
		max-width:274px;
	}
}
#background {
	position:fixed;
	z-index:-1;
	//margin-left:-25px;
	/*top:-400px;
	left:-50px;*/
	//@include rotate(45deg);
	top:0;
	left:0;
}

#container > nav > ul {
	height:36px;
	margin-bottom:25px;
	background-image:linear-gradient(to bottom, $menu_background_1, $menu_background_2);
	display: flex;
	li {
		//display:block;
		//float:left;
		height:36px;
		//width:120px;
		list-style: none;
		@include breakpoint(max-width $first_break){
			width:25%;
		}
		a, h1 {
			@extend .big_text;
			padding: 0 Min(30px, calc(5px + 2vw));
			font-size: $menu_font_size;
			text-align: center;
			line-height: 34px;
			display: block;
			height: 100%;
		}
		a {
			text-decoration:none;
			color:$menu_text;
			background:transparent;
			&:hover {
				background-image:linear-gradient(to bottom, $menu_over_background_1, $menu_over_background_2);
				color:$menu_over_text;
			}
		}
		h1 {
			margin-top:-10px;
			padding:10px Min(30px, calc(5px + 2vw));
			background-color:$menu_active_background;
			color:$menu_active_text;
		}
	}
	@include breakpoint(max-width $first_break){
		display: flex;
		li {
			a, h1 {
				//font-size:calc(2vw + 7px);
				span {
					display: none;
				}
				&:before {
					font-size: 1.2rem;
					text-align: center;
					//content: '\E801 \F0E0 \F800 \F108 \E802 \E803';
					font-family: crachecode;
					font-style: normal;
					font-weight: normal;
					visibility: visible;
				}
			}
			&:first-child {
				a:before, h1:before {
					content: '\E800';
				}
			}
			&:nth-child(2) {
				a:before, h1:before {
					content: '\E802';
				}
			}
			&:nth-child(3) {
				a:before, h1:before {
					content: '\F108';
				}
			}
			&:nth-child(4) {
				a:before, h1:before {
					content: '\E801';
				}
			}
			&:nth-child(5) {
				a:before, h1:before {
					content: '\F0E0';
				}
			}
		}
	}
}

.special {
	background-color:$violent_text;
	padding: 0 1px;
}
a.special {
	color: $color_text;
	font-weight: bold;
	text-decoration: none;
}
a.special:hover {
	background-color:$color_text;
	color: $violent_text;
}
.em_obsc {
	-moz-user-select:-moz-none;
	-ms-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	.domain {
		unicode-bidi:bidi-override;
		direction:rtl;
		&:after {
			content:"\000040";
		}
		&:before {
			content:"\00002e";
		}
	}
}

//$laptop:'laptop.png';
#laptop {
	//	position:absolute;
	//	left:120px;
	//	top:180px;
	position:absolute;
	left:200px;
	top:203px;
	pointer-events:none;
	/*@include background(image-url($laptop));
	width:image-width($laptop);
	height:image-height($laptop);*/
}

/*#cube {
	position:fixed;
	width:350px;
	height:350px;
	z-index:-1;
	left:320px;
	top:300px;
}
#home #cube {
	z-index:1;
}*/

$gutter:15px;

#home main ul {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:calc(100% + (2 * #{$gutter}));
	margin-left:-$gutter;
	li {
		margin:$gutter;
		flex:1 0 calc(45% - #{$gutter});
		//max-width:300px;
		min-width:200px;
		&:before {
			content:none;
		}
		line-height:1;
		a {
			display:block;
			//width:100%;
			//height:100%;
			background-color:$color_med;
			color:$color_low_3;
			padding:20% 0 25% 0;
			@extend .big_text;
			font-size:26px;
			text-align:center;
			text-decoration:none;
			&:hover {
				background-color:$color_high;
				color:$color_low_2;
				path, rect {
					fill:$color_low_2;
				}
			}
			svg {
				display:block;
				margin:0 auto;
				path, rect {
					fill:$color_low_3;
				}
			}
		}
	}
}

#realisations main ul {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:calc(100% + #{$gutter});
	margin-left:-$gutter;
	li {
		margin:20px 0 5px $gutter;
		flex:1 0 calc(45% - #{$gutter});
		max-width:300px;
		min-width:200px;
		&:before {
			content:none;
		}
		line-height:1;
		a {
			display:block;
			margin-bottom:11px;
			overflow:hidden;
			width:100%;
			img {
				width:100%;
				height:100%;
				display:block;
				@include transition-duration(0.3s);
			}
			&:hover img {
				@include scale(2);
			}
		}
	}
}
#presentation {
	#timothee, #aude {
		img {
			float:left;
			width:90px;
			height:90px;
			margin:-10px 20px 0 0;
			+ h1 {
				margin-top:45px;
			}
		}
		h3:first-of-type {
			margin-bottom:40px;
		}
	}
}