---
id: contact
title: contact
layout: default
---

<script type="module" src="{{ site.baseurl }}/vendor/email-obf/emailobf.js"></script>

<section>
	<h2>Général</h2>
	<p>
		<email-obf>vasb|edocehcarc|net</email-obf>
	</p>
	<p>
		téléphone suisse :<br />
		<span class="special">+41/0</span>22 508 29 21
	</p>
	<p>
		téléphone français :<br />
		<span class="special">+33/0</span>1 83 64 63 91
	</p>
	<h2>Timothée Crozat</h2>
	<p>
		mobile suisse :<br />
		<span class="special">+41/0</span>78 480 63 08
	</p>
	<p>
		mobile français :<br />
		<span class="special">+33/0</span>6 88 36 25 30
	</p>
	<p>
		<email-obf>gvzbgurr|edocehcarc|net</email-obf>
	</p>
	{% comment %}
	<h2>Aude Barrio</h2>
	<p>
		<email-obf>nhqr|edocehcarc|net</email-obf>
	</p>
	{% endcomment %}
</section>