---
id: home
title: création de sites internet
layout: default
---

<section>
	<div id="cube"></div>
	<h1>
		Crachecode&nbsp;réalise votre&nbsp;projet&nbsp;web.
	</h1>
	<br />
	<ul>
		<li>
			<a href="{{ site.baseurl }}/realisations">
				<svg viewBox="0 0 100 100" width="100" height="100"><g><g opacity="0.25"><rect x="20.2" y="27.3" width="59.9" height="37.4" transform="matrix(1,0,0,1,0,0)"/></g><path d=" M 77.4 24.8 L 22.6 24.8 C 19.9 24.8 17.6 27 17.6 29.8 L 17.6 62.4 C 17.6 65.1 19.8 67.4 22.6 67.4 L 45 67.4 L 45 74.9 L 42.5 74.9 C 41.1 74.9 40 76 40 77.4 L 60 77.4 C 60 76 58.9 74.9 57.5 74.9 L 55 74.9 L 55 67.4 L 77.4 67.4 C 80.1 67.4 82.4 65.2 82.4 62.4 L 82.4 29.8 C 82.4 27 80.2 24.8 77.4 24.8 Z  M 77.4 62.2 L 22.6 62.2 L 22.6 29.8 L 77.5 29.8 L 77.5 62.2 L 77.4 62.2 Z "/></g></svg>
				site vitrine
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/realisations">
				<svg viewBox="0 0 100 100" width="100" height="100"><g><path d=" M 60.6 51 C 60.6 55.4 57 59 52.6 59 C 48.2 59 44.6 55.4 44.6 51 C 44.6 46.6 48.2 43 52.6 43 C 57 43 60.6 46.6 60.6 51 Z "/><path d=" M 76.6 29.7 L 44.6 29.7 C 44.6 26.8 42.2 24.4 39.3 24.4 L 34 24.4 C 31.1 24.4 28.7 26.8 28.7 29.7 L 23.4 29.7 C 20.5 29.7 18.1 32.1 18.1 35 L 18.1 35 L 23.4 35 C 26.3 35 28.7 37.4 28.7 40.3 L 28.7 61.6 C 28.7 64.5 26.3 66.9 23.4 66.9 L 18.1 66.9 C 18.1 69.8 20.5 72.2 23.4 72.2 L 76.8 72.2 C 79.7 72.2 82.1 69.8 82.1 66.9 L 82.1 35 C 82 32.1 79.6 29.7 76.6 29.7 Z  M 52.6 64.4 C 45.2 64.4 39.3 58.4 39.3 51.1 C 39.3 43.7 45.3 37.8 52.6 37.8 C 59.9 37.8 66 43.7 66 51 C 66 58.4 60 64.4 52.6 64.4 Z  M 72.6 45.7 C 70.4 45.7 68.6 43.9 68.6 41.7 C 68.6 39.5 70.4 37.7 72.6 37.7 C 74.8 37.7 76.6 39.5 76.6 41.7 C 76.6 43.9 74.8 45.7 72.6 45.7 Z "/><g opacity="0.5"><path d=" M 72.6 37.7 C 70.4 37.7 68.6 39.5 68.6 41.7 C 68.6 43.9 70.4 45.7 72.6 45.7 C 74.8 45.7 76.6 43.9 76.6 41.7 C 76.6 39.5 74.8 37.7 72.6 37.7 Z "/></g><g opacity="0.5"><path d=" M 28.6 61.7 L 28.6 40.4 C 28.6 37.5 26.2 35.1 23.3 35.1 L 18 35.1 L 18 67.1 L 23.3 67.1 C 26.2 67.1 28.6 64.7 28.6 61.7 Z "/></g></g></svg>
				portfolio
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/realisations">
				<svg viewBox="0 0 100 100" width="100" height="100"><g><path d=" M 91.8 17.5 C 91.1 17.1 90.2 17.4 89.8 18.1 C 86 25.5 83.1 25 78.1 24.3 C 75 23.8 71.2 23.2 66.6 24.7 C 64.2 25.5 62 27.3 60.2 29.4 L 56.4 25.6 L 43.9 25.6 L 10.7 58.8 L 35.6 83.7 L 68.8 50.5 L 68.8 38 L 62.2 31.4 C 63.7 29.6 65.5 28 67.4 27.4 C 71.4 26.2 74.7 26.7 77.6 27.1 C 82.8 27.9 87.6 28.6 92.4 19.4 C 92.8 18.7 92.5 17.8 91.8 17.5 Z  M 46.9 53.4 C 46.2 52.6 44.9 51.1 42.3 50 C 40 49 38.8 49.7 38.4 50.7 C 37.9 51.8 38.8 53.1 41.4 55.5 C 45 58.8 45.8 61.5 44.4 64.7 C 43 67.8 39.7 69.6 35.3 68.5 L 33.7 72.1 L 30.2 70.6 L 31.6 67.2 C 29.3 66.1 27.3 64.4 26.2 63.1 L 29 59.4 C 30.1 60.8 31.9 62.5 34.2 63.5 C 36.3 64.4 38 64.2 38.6 62.8 C 39.2 61.5 38.4 60.1 36.1 58.1 C 32.9 55.2 31 52.3 32.5 48.9 C 33.8 45.8 37.1 44.3 41.2 45.2 L 42.6 41.8 L 46.1 43.3 L 45 46.5 C 47.3 47.6 48.7 48.8 49.7 49.9 L 46.9 53.4 L 46.9 53.4 Z  M 60.6 33.8 C 62.9 36.1 62.9 39.8 60.6 42.1 C 59.5 43.2 58 43.8 56.4 43.8 C 54.8 43.8 53.4 43.2 52.2 42.1 C 49.9 39.8 49.9 36.1 52.2 33.8 C 53.3 32.7 54.9 32.1 56.4 32.1 C 56.9 32.1 57.4 32.2 57.9 32.3 C 57.2 33.3 56.7 34.2 56.2 35 C 55.5 35 54.8 35.3 54.3 35.8 C 53.7 36.4 53.4 37.1 53.4 37.9 C 53.4 38.7 53.7 39.4 54.3 40 C 54.9 40.6 55.6 40.9 56.4 40.9 C 57.2 40.9 57.9 40.6 58.5 40 C 59.1 39.4 59.4 38.7 59.4 37.9 C 59.4 37.3 59.2 36.8 58.9 36.4 C 59.3 35.6 59.9 34.7 60.6 33.8 C 60.5 33.8 60.5 33.8 60.6 33.8 Z "/></g></svg>
				e-commerce
			</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/realisations">
				<svg viewBox="0 0 100 100" width="100" height="100"><g><path d=" M 82.079 44.653 L 78.872 44.653 C 77.402 44.653 75.842 43.503 75.406 42.097 L 73.562 37.62 C 72.872 36.328 73.155 34.415 74.189 33.375 L 76.468 31.102 C 77.51 30.06 77.51 28.358 76.468 27.318 L 72.68 23.538 C 71.644 22.5 69.942 22.5 68.906 23.538 L 66.624 25.813 C 65.588 26.853 63.672 27.136 62.375 26.44 L 57.907 24.601 C 56.504 24.165 55.356 22.604 55.356 21.134 L 55.356 17.925 C 55.356 16.455 54.152 15.249 52.676 15.249 L 47.33 15.249 C 45.858 15.249 44.654 16.455 44.654 17.925 L 44.654 21.134 C 44.654 22.604 43.506 24.165 42.103 24.601 L 37.63 26.44 C 36.328 27.138 34.422 26.855 33.382 25.813 L 31.103 23.538 C 30.061 22.5 28.365 22.5 27.325 23.538 L 23.545 27.318 C 22.499 28.358 22.499 30.06 23.545 31.097 L 25.814 33.374 C 26.854 34.414 27.142 36.328 26.44 37.619 L 24.603 42.1 C 24.161 43.505 22.606 44.653 21.137 44.653 L 17.924 44.651 C 16.452 44.651 15.248 45.853 15.248 47.324 L 15.248 52.67 C 15.248 54.139 16.452 55.344 17.924 55.344 L 21.137 55.344 C 22.607 55.348 24.161 56.497 24.597 57.901 L 26.44 62.379 C 27.142 63.675 26.854 65.59 25.814 66.626 L 23.539 68.898 C 22.498 69.94 22.498 71.639 23.539 72.683 L 27.325 76.464 C 28.365 77.504 30.061 77.504 31.103 76.464 L 33.382 74.189 C 34.422 73.152 36.328 72.87 37.617 73.567 L 42.103 75.412 C 43.506 75.849 44.654 77.405 44.654 78.877 L 44.654 82.078 C 44.654 83.546 45.858 84.749 47.33 84.749 L 52.676 84.749 C 54.152 84.749 55.356 83.546 55.356 82.078 L 55.356 78.877 C 55.356 77.405 56.503 75.849 57.907 75.412 L 62.392 73.567 C 63.682 72.87 65.593 73.152 66.639 74.189 L 68.906 76.464 C 69.942 77.504 71.644 77.504 72.68 76.464 L 76.468 72.683 C 77.51 71.639 77.51 69.94 76.468 68.898 L 74.189 66.626 C 73.155 65.59 72.872 63.675 73.562 62.379 L 75.406 57.901 C 75.842 56.498 77.413 55.348 78.872 55.348 L 82.079 55.348 C 83.551 55.348 84.749 54.146 84.749 52.674 L 84.749 47.324 C 84.749 45.854 83.551 44.653 82.079 44.653 Z  M 63.381 49.996 C 63.381 57.38 57.393 63.361 50.011 63.361 C 42.626 63.361 36.641 57.381 36.641 49.996 C 36.641 42.615 42.626 36.63 50.011 36.63 C 57.393 36.63 63.381 42.614 63.381 49.996 Z "/></g></svg>
				application web
			</a>
		</li>
	</ul>
</section>