---
id: presentation
title: présentation
layout: default
---

<section id="global">
	<h3>♥ free & open source software</h3>
	<p>
		Crachecode est le projet freelance de Timothée Crozat.
	</p>
	<h1>webdesign, création de sites internet,<br>déploiement ou développement d'applications&nbsp;web, administration système</h1>
	<p>
		Je vous propose de vous suivre tout au long de l'élaboration de votre projet web.
	</p>
	<ul>
		<li>analyse de votre demande et de vos besoins</li>
		<li>réalisation d'un devis détaillé adapté à votre budget</li>
		<li>propositions graphiques, création de logotypes et / ou de chartes graphiques</li>
		<li>suivi de la réalisation du projet</li>
		<li>assistance et aide à la prise en main de vos outils</li>
		<li>suivi et maintenance</li>
	</ul>
</section>
<section id="timothee">
	<img src="{{ site.baseurl }}/img/timothee.png" />
	<h1>Timothée Crozat</h1>
	<h3>Développeur Web</h3>
	<h2>expérience</h2>
	<p>
		Fort d'une expérience professionnelle de plus de 15 ans, dont 2 ans chez l'hébergeur suisse <a href="http://www.infomaniak.ch" target="_blank" class="special">Infomaniak</a> et 3 ans au sein de l'entreprise <a href="http://www.scarabe.biz" target="_blank">Scarabe</a> spécialisée dans la conception de sites haut de gamme à Paris, je possède toutes les connaissances nécessaires à la mise en place de solutions internet personnalisées.
	</p>
	<p>
		Je suis également le designer, développeur principal et administrateur du site <a href="https://www.ubuntu-fr.org" target="_blank" class="special">Ubuntu&#8209;fr</a>, qui rassemble la plus grosse communauté francophone autour du logiciel libre.<br>
	</p>
	<p>
		N'hésitez pas à consulter mon <a href="/realisations" target="_self">portfolio</a> afin de vous assurer de la qualité de mon travail.
	</p>
	<h2>technique</h2>
	<p>
		J'utilise toute sorte d'outils, en privilégiant les solutions libres. Je peux développer des applications complexes et personnalisées, ou simplement des extensions pour étendre les fonctionnalités de solutions courantes telles que <b class="special">WordPress</b> ou <b class="special">PrestaShop</b>.
	</p>
	<p>
		Voici la liste (non-exhaustive) des technologies que j'utilise pour la réalisation et la production de sites&nbsp;:
	</p>
	<ul>
		<li><b>CMS courants</b> et piles <a href="https://jamstatic.fr/2019/02/07/c-est-quoi-la-jamstack/" target="_blank" class="special">Jamstack</a> pour la mise en place de sites ergonomiques, rapides et parfaitement sécurisés</li>
		<li><b>CSS3</b> et <b>HTML5</b> pour la création d'animations ou d'interfaces <b class="special">responsives</b> (adaptées aussi bien aux appareils mobiles qu'aux grands écrans)</li>
		<li><b>JavaScript</b> avec les frameworks <b class="special">Vue.js</b> ou <b>React</b> pour les applications <em>single-page</em></li>
		<li><b>MySQL</b>, <b>PHP</b> orienté objet et les frameworks <b class="special">Laravel</b>, <b class="special">Symfony</b> ou <b>CakePHP</b> pour le développement d'<b>applications web riches</b></li>
		<li><b>Linux</b>, <b class="special">Docker</b>, <b>Traefik</b>, <b>Proxmox</b>, <b>Terraform</b>, <b>Ansible</b>, <b>Kubernetes</b>, administration système et réseaux, pour le déploiement et la maintenance des environnements de développement et de production</li>
		<li>principales stratégies de <b class="special">référencement</b> afin d'augmenter la visibilité de vos sites dans les résultats de Google</li>
	</ul>
	<h2>audiovisuel</h2>
	<p>
		Sur un plan plus artistique, je m'intéresse également beaucoup à la création multimédia.
	</p>
	<p>
		Je conçois entre autre des performances et installations interactives audio et/ou vidéo. J'utilise diverses solutions logicielles (<b>max/msp</b>, <b>pure data</b>, <b>processing</b>) couplées à divers capteurs et actionneurs au moyen de micro-contrôleurs (<b>arduino</b>).
	</p>
	<p>
		Ces connaissances supplémentaires en informatique et électronique me permettent de proposer des prestations dans le domaine de l'audiovisuel et du multimédia.
	</p>
</section>
{% comment %}
<section id="aude">
	<img src="{{ site.baseurl }}/img/aude.png" />
	<h1>Aude Barrio</h1>
	<h3>Web Designer</h3>
	<p>
		Illustratrice d'origine, Aude Barrio a rapidement ajouté plusieurs cordes à son
		arc en abordant le graphisme et le webdesign.
		<br>
		Après l'obtention d'un diplôme à la HEAD – Haute Ecole d'Art et de Design de Genève,
		elle se spécialise dans la <b>PAO</b> (Publication Assistée par
		Ordinateur) et travaille plusieurs années chez les éditions d'en
		bas en tant que graphiste. C'est chez eux qu'elle aborde pour la
		première fois le webdesign. Appréciant l'aspect logique et
		résolument pratique du domaine du web, de
		projets en projets, attentive aux besoins des clients, elle
		emmagasine expérience et savoir-faire.
	</p>
	<p>
		Aude Barrio travaille principalement sur la construction de visuels sur <b>Photoshop</b>
		et <b>Illustrator</b>, puis participe à l'intégration des éléments sur des CMS comme
		<b class="special">Prestashop</b> ou <b class="special">Wordpress</b>.
	</p>
{% endcomment %}
</section>