---
id: realisations
title: réalisations
layout: default
---

<section>
	<p>
		J'ai réalisé une centaine de projets web dans des domaines variés&nbsp;: culturel et artistique, éditorial, évènementiel, e&#8209;commerce, réseaux sociaux, assurances, immobilier, audiovisuel...
	</p>
	<p>
		Voici quelques sites réalisés récemment&nbsp;:
	</p>
	<ul>
		<li>
			<b class="special">Ubuntu-fr</b>
			<a href="https://www.ubuntu-fr.org" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/ubuntu-fr.jpg" />
			</a>
			communauté d'utilisateurs de logiciels libres
		</li>
		<li>
			<b class="special">Arrache Toi Un Œil</b>
			<a href="https://www.arrachetoiunoeil.com/" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/atuo.jpg" />
			</a>
			atelier de sérigraphie / évènementiel
		</li>
		<li>
			<b class="special">Papiers-Gras</b>
			<a href="https://www.papiers-gras.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/papiers-gras.jpg" />
			</a>
			galerie et librairie de bande dessinée
		</li>
		{% comment %}
		<li>
			<b class="special">Le Rez</b>
			<a href="https://www.kalvingrad.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/rez.jpg" />
			</a>
			salle de concert associative
		</li>
		{% endcomment %}
		<li>
			<b class="special">Le Monstre</b>
			<a href="https://2014.lemonstre.ch" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/lemonstre.jpg" />
			</a>
			festival de micro-édition
		</li>
		<li>
			<b class="special">Orchestre Tout Puissant Marcel&nbsp;Duchamp</b>
			<a href="https://www.otpmd.ch" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/otpmd.jpg" />
			</a>
			groupe de musique
		</li>
		<li>
			<b class="special">L'Écurie</b>
			<a href="https://www.lecurie.ch" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/lecurie.jpg" />
			</a>
			salle de concert associative
		</li>
		<li>
			<b class="special">Michel Wintsch</b>
			<a href="https://www.michelwintsch.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/michelwintsch.jpg" />
			</a>
			musicien
		</li>
		{% comment %}
		<li>
			<b class="special">Sandy Flinto</b>
			<a href="https://www.sandyflinto.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/sandyflinto.jpg" />
			</a>
			artiste
		</li>
		{% endcomment %}
		{% comment %}
		<li>
			<b class="special">Régie des Princes</b>
			<a href="https://www.princes.ch" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/princes.jpg" />
			</a>
			régie immobilière
		</li>
		{% endcomment %}
		{% comment %}
		<li>
			<b class="special">Atelier l'Odyssée</b>
			<a href="https://www.atelierodyssee.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/atelierodyssee.jpg" />
			</a>
			atelier de bijouterie (boutique en ligne)
		</li>
		{% endcomment %}
		<li>
			<b class="special">Necessary Experience</b>
			<a href="https://www.necessaryexperience.net" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/necessaryexperience.jpg" />
			</a>
			Gorellaume, artiste
		</li>
		<li>
			<b class="special">Anne Buguet</b>
			<a href="https://www.annebuguet.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/annebuguet.jpg" />
			</a>
			illustratrice
		</li>
		<li>
			<b class="special">Hécatombe</b>
			<a href="https://www.hecatombe.ch" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/hecatombe.jpg" />
			</a>
			micro-édition et bande dessinée
		</li>
		<li>
			<b class="special">Le Son du Papier</b>
			<a href="https://www.lesondupapier.ch" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/lesondupapier.jpg" />
			</a>
			design graphique
		</li>
		<li>
			<b class="special">Nicole Brun</b>
			<a href="https://www.nicolebrun.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/nicolebrun.jpg" />
			</a>
			peintre en décors
		</li>
		<li>
			<b class="special">Ann Borodell</b>
			<a href="https://www.borodell.com" target="_blank">
				<img src="{{ site.baseurl }}/img/sites/borodell.jpg" />
			</a>
			artiste peintre et photographe
		</li>
	</ul>
</section>