---
id: documentation
title: documentation
layout: default
---

<section>
	<p>
		Il existe de nombreuses technologies pour créer un <a href="https://fr.wikipedia.org/wiki/Site_web">site Internet</a>.
		<br>
		Chacune a ses avantages et ses défauts, et répond évidemment a différents besoins.
		<br>
		Je présente sur cette page certaines notions courantes&nbsp;:
	</p>
	<nav>
		<ul>
			<li><a href="#dynamique">Site statique / site dynamique</a></li>
			<li><a href="#cms">CMS</a></li>
			<li><a href="#ssg">Générateurs de sites statiques</a></li>
			<li><a href="#wp">WordPress</a></li>
			<li><a href="#ssg_wp">comparaison WP / SSG</a></li>
			<li><a href="#">hébergement</a> (à venir)</li>
			<li><a href="#">nom de domaine</a> (à venir)</li>
		</ul>
	</nav>
	<h2 id="dynamique">Site statique / site dynamique</h2>
	<p>
		Un <a href="https://fr.wikipedia.org/wiki/Page_web_statique">site <b>statique</b></a> peut ête un site vitrine,
		ou site de documentation, tant que son contenu n'est pas amené à changer en fonction du visiteur.
		<br>
		"Statique" est en réalité un terme technique qui indique que le contenu est stocké dans des
		<a href="https://fr.wikipedia.org/wiki/Hypertext_Markup_Language">fichiers HTML</a> que le serveur web rend simplement disponible.
	</p>
	<p>
		Pour un <a href="https://fr.wikipedia.org/wiki/Page_web_dynamique">site <b>dynamique</b></a> par contre,
		le contenu est <b>généré</b> par un script à chaque consultation par un internaute.
		<br>
		Son contenu peut ainsi changer en fonction de toutes sortes de paramètres : l'identité du visiteur, sa position géographique,
		ses droits à accéder à certaines ressources, l'heure, etc.
		<br>
		Ce qui rend un site dynamique c'est bien le fait qu'il soit généré à la volée lors de la visite d'un internaute,
		un site peut disposer d'animations graphiques, proposer de l'audio ou des vidéos et être statique.
		<br>
		Plusieurs langages de programmation peuvent être employés pour mettre en place un site dynamique :
		<a href="https://fr.wikipedia.org/wiki/Python_(langage)" target="_blank">Python</a>,
		<a href="https://fr.wikipedia.org/wiki/Ruby" target="_blank">Ruby</a>,
		<a href="https://fr.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>,
		<a href="https://fr.wikipedia.org/wiki/Perl_(langage)" target="_blank">Perl</a>,
		mais le plus utilisé est
		<a href="https://fr.wikipedia.org/wiki/PHP" target="_blank">PHP</a>.
	</p>
	<p>
		Comme les fonctionnalités des sites internet sont souvent les mêmes d'un site à l'autre (accueil, menu, pages, blog, galleries, etc.),
		on a mis au point des systèmes qui permettent à l'administrateur de gérer de manière simplifiée et graphique le contenu de sites dynamiques.
		C'est ce qu'on appelle un CMS.
	</p>
	<h2 id="cms">CMS</h2>
	<p>
		Un <a href="https://fr.wikipedia.org/wiki/CMS" target="_blank">CMS</a> (pour l'anglais <i>Content Management Systems</i> : système de gestion de contenu),
		est un logiciel destiné à la conception et à la mise à jour de sites web dynamiques.
	</p>
	<p>
		Un CMS peut simplifier le travail d'un développeur web, mais il peut aussi permettre à des utilisateurs sans compétence en développement
		de déployer un site web dynamique assez simplement.
	</p>
	<p>
		La définition de CMS est assez flexible. Dans l'acceptation la plus courante, un CMS sert à mettre en place un <b>site "classique"</b> ou un <b>blog</b> :
	</p>
	<ul>
		<li>Un <b>site "classique"</b> contient des pages, qui sont en général structurées par <b>arborescence</b> (menu, sous-menu)</li>
		<li>Un blog contient des articles, qui sont généralement plus uniformes, plus rapides à rédiger et liés à une notion d'actualité (tri par date)</li>
	</ul>
	<p>
		Mais en parlant de gestion de contenu, on ne précise pas le type de contenu, la porte reste donc ouverte sur un champs beaucoup plus large. Wikipédia en français inclut en plus dans <a href="https://fr.wikipedia.org/wiki/CMS" target="_blank">sa définition</a>&nbsp;:
	</p>
	<ul>
		<li>les <a href="https://fr.wikipedia.org/wiki/Wiki" target="_blank">wiki</a></li>
		<li>les <a href="https://fr.wikipedia.org/wiki/Forum_(informatique)" target="_blank">forums</a></li>
		<li>les <a href="https://fr.wikipedia.org/wiki/Commerce_en_ligne" target="_blank">boutiques en ligne</a> / e-commerce (PrestaShop)</li>
	</ul>
	<h3 id="wp">WordPress</h3>
	<p>
		WordPress est le CMS le plus utilisé du monde. En 2024 il représente presque la moitié des sites Internet&nbsp;!
		<br>
		C'est un projet né en 2003, ce qui est ancien pour une technologie du Web.
	</p>
	<p>
		Cause et conséquence de ce gigantesque succès&nbsp;:
	</p>
	<ul>
		<li>
			Il propose une quantité sidérante d'extensions qui étendent ses fonctionnalités au delà du raisonnable
			(plus de 54000 plugins sur le dépôt officiel en 2018).
		</li>
		<li>
			C'est aussi probablement la plateforme la plus attaquées au monde. Quand on trouve une vulnérabilité sur WordPress,
			on a la possibilité technique de compromettre 42% des sites de la planète&nbsp;!
			<br>
			C'est peu probable : ce sont en particulier les extensions qui présentent des failles,
			reste qu'il faut toujours maintenir WordPress et ses extensions autant à jour que possible.
		</li>
	</ul>
	<h2 id="ssg">Générateurs de sites statiques</h2>
	<p>
		Les <a href="https://fr.wikipedia.org/wiki/G%C3%A9n%C3%A9rateur_de_site_statique" target="_blank">générateurs de sites statiques</a> se rapprochent des CMS en ce sens que leur contenu est facilement modifiable par l'administrateur.
	</p>
	<p>
		Cependant ce contenu n'est pas généré à chaque consultation et une fois modifié il se présente sous la forme de fichiers HTML, comme un site statique.
	</p>
	<p>
		Ils disposent de <b>moins de fonctionnalités</b> que les CMS, mais suffisent en général à la mise en place de sites "vitrines" ou de blogs.
		<br>
		Ils bénéficient d'une <b>sécurité infaillible</b> et d'une <b>vitesse incomparable</b>,
		et peuvent être hébergés n'importe où (pas de script à exécuter sur le serveur, juste du HTML à servir).
	</p>
	<h3 id="ssg_wp">Par rapport à WordPress</h3>
	<p>
		Par rapport à WordPress les avantages d'un générateur de sites statiques sont les suivants&nbsp;:
	</p>
	<ul>
		<li><b>sécurité infaillible</b></li>
		<li>
			au point que le site n'a <b>pas besoin de maintenance</b>, alors que côté WordPress&nbsp;: il faut mettre à jour régulièrement,
			au bout de quelques années le thème créé n'est plus compatible, et il faut refaire le site.
		</li>
		<li>
			site <b>extrêmement léger et rapide</b> (il est généré au moment de l'édition par l'administrateur, pas lors de la consultation par les internautes - comme WordPress)
		</li>
		<li>
			interface d'<b>administration claire et simple</b>, personnalisée par mes soins, beaucoup plus accessible que celle de WordPress
		</li>
		<li>
			hébergeable absolument n'importe où
		</li>
	</ul>
	<p>
		Les inconvénients&nbsp;:
	</p>
	<ul>
		<li>site statique, parfait pour un site vitrine, ou une documentation, mais on ne dispose pas d'autant de fonctionnalités que sur un site dynamique</li>
		<li>complexité de mise en place, qui demande de solides connaissances techniques (mais ne prend pas plus de temps que de déployer WordPress)</li>
	</ul>
</section>
